# Jimmy Wrangler, Data Explorer

Dalton Hahn (2762306)

## realDonaldTrump Poll Tweets
https://github.com/fivethirtyeight/data/blob/master/trump-twitter/realDonaldTrump_poll_tweets.csv

## Exploratory Data Analysis
My idea is to examine the three datasets to see if there is any correlation or connection between President Trump's tweets and the lawsuits he and his company have been involved in.  Additionally, I would like to see if there is any correlation or connection between his tweets and his overall approval rating.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import math
from statistics import mean, stdev

## Read in the Data

In [2]:
df = pd.read_csv("../data/external/realDonaldTrump_poll_tweets.csv")

In [3]:
df.head(1)

,id,created_at,text
0,7.656299e+17,8/16/2016 19:22:57,"It's just a 2-point race, Clinton 38%, Trump 3..."

In [4]:
print(df['created_at'][0])

8/16/2016 19:22:57

## Splitting Timestamp
Split the timestame into four components
- Month
- Day
- Year
- Time

In [5]:
months = []
days = []
years = []
times = []

for row in df['created_at']:
    month = row.split('/')[0]
    months.append(month)
    #print(month)
    day = row.split('/')[1]
    days.append(day)
    #print(day)
    year = row.split('/')[2].split(' ')[0]
    years.append(year)
    #print(year)
    time = row.split('/')[2].split(' ')[1]
    times.append(time)
    #print(time)

In [6]:
#Check that the splits I've created are the same size as the original data frame
print(len(days))
print(len(df['created_at']))

448
448

## Add the newly created columns to the original dataframe

In [7]:
df.insert(len(df.columns), 'Month', months, True)
df.insert(len(df.columns), 'Day', days, True)
df.insert(len(df.columns), 'Year', years, True)
df.insert(len(df.columns), 'Time', time, True)

In [8]:
df.head()

,id,created_at,text,Month,Day,Year,Time
0,7.656299e+17,8/16/2016 19:22:57,"It's just a 2-point race, Clinton 38%, Trump 3...",8,16,2016,17:10:49
1,7.587319e+17,7/28/2016 18:32:31,"""@LallyRay: Poll: Donald Trump Sees 17-Point P...",7,28,2016,17:10:49
2,7.583505e+17,7/27/2016 17:16:56,Great new poll - thank you!\n#MakeAmericaGreat...,7,27,2016,17:10:49
3,7.575775e+17,7/25/2016 14:05:27,Great POLL numbers are coming out all over. Pe...,7,25,2016,17:10:49
4,7.536034e+17,7/14/2016 14:53:46,Another new poll. Thank you for your support! ...,7,14,2016,17:10:49

## Remove arbitrary ID value that came in with data

In [9]:
df = df.drop(axis=1, columns='id')
df.head()

,created_at,text,Month,Day,Year,Time
0,8/16/2016 19:22:57,"It's just a 2-point race, Clinton 38%, Trump 3...",8,16,2016,17:10:49
1,7/28/2016 18:32:31,"""@LallyRay: Poll: Donald Trump Sees 17-Point P...",7,28,2016,17:10:49
2,7/27/2016 17:16:56,Great new poll - thank you!\n#MakeAmericaGreat...,7,27,2016,17:10:49
3,7/25/2016 14:05:27,Great POLL numbers are coming out all over. Pe...,7,25,2016,17:10:49
4,7/14/2016 14:53:46,Another new poll. Thank you for your support! ...,7,14,2016,17:10:49

## Save out edited data into data/processed for use in analysis notebook

In [10]:
df.to_csv("../data/processed/tweets_processed.csv")