# Jimmy Wrangler, Data Explorer

Dalton Hahn (2762306)

## Donald Trump Lawsuits
https://raw.githubusercontent.com/fivethirtyeight/data/master/trump-lawsuits/trump-lawsuits.csv

## Exploratory Data Analysis
My idea is to examine the three datasets to see if there is any correlation or connection between President Trump's tweets and the lawsuits he and his company have been involved in.  Additionally, I would like to see if there is any correlation or connection between his tweets and his overall approval rating.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import math
from statistics import mean, stdev

## Read in the Data

In [2]:
df = pd.read_csv("../data/external/trump-lawsuits.csv")

In [3]:
df.head(1)

,docketNumber,dateFiled,caseName,plaintiff,defendant,currentLocation,previousLocation,jurisdiction,judge,nature,TrumpCategory,capacity,type,issue,docketOrig,status
0,2:18-cv-02217,2018-03-06,Clifford v. Trump,Stephanie Clifford,Donald J. Trump; Essential Consultants LLC; Mi...,"District Court, Central District of California",NaN,1.0,S. James Otero; Frederick Mumm,190.0,1,1,2,2016 Trump campaign,NaN,2

## I only care about the date that a lawsuit was filed, so I will remove all other columns.  I'll keep the column for issue to have some context as to what the lawsuit was regarding.

In [4]:
# Dropping columns from approval_topline
df = df.drop(axis=1, columns=['docketNumber', 'caseName', 'plaintiff', 'defendant', 
                              'currentLocation', 'previousLocation', 'jurisdiction', 'judge', 'nature',
                             'TrumpCategory', 'capacity', 'type', 'docketOrig', 'status'])
df.head()

    dateFiled                  issue
0  2018-03-06    2016 Trump campaign
1  2018-07-12    2016 Trump campaign
2  2018-08-21    2016 Trump campaign
3  2018-04-30             Defamation
4  2017-11-30  Mueller investigation

## Will break down the date field into component parts for easier parsing/comparison in the analysis notebook

In [5]:
months = []
days = []
years = []

for row in df['dateFiled']:
    month = row.split('-')[1]
    months.append(month)
    #print(month)
    day = row.split('-')[2]
    days.append(day)
    #print(day)
    year = row.split('-')[0]
    years.append(year)
    #print(year)

In [6]:
#Check that the splits I've created are the same size as the original data frame
print(len(days))
print(len(df['dateFiled']))

57
57

In [7]:
df.insert(len(df.columns), 'Month', months, True)
df.insert(len(df.columns), 'Day', days, True)
df.insert(len(df.columns), 'Year', years, True)
df.head()

    dateFiled                  issue Month Day  Year
0  2018-03-06    2016 Trump campaign    03  06  2018
1  2018-07-12    2016 Trump campaign    07  12  2018
2  2018-08-21    2016 Trump campaign    08  21  2018
3  2018-04-30             Defamation    04  30  2018
4  2017-11-30  Mueller investigation    11  30  2017

### Save out edited data into data/processed for use in analysis notebook

In [ ]:
df.to_csv("../data/processed/topline.csv")