# Jimmy Wrangler, Data Explorer

Dalton Hahn (2762306)

## Donald Trump Combined Analysis

## Exploratory Data Analysis
My idea is to examine the three datasets to see if there is any correlation or connection between President Trump's tweets and the lawsuits he and his company have been involved in.  Additionally, I would like to see if there is any correlation or connection between his tweets and his overall approval rating.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import math
from statistics import mean, stdev

## Read in the Data

In [2]:
df_tweet = pd.read_csv("../data/processed/tweets_processed.csv")
df_tweet.head()

,Unnamed: 0,created_at,text,Month,Day,Year,Time
0,0,8/16/2016 19:22:57,"It's just a 2-point race, Clinton 38%, Trump 3...",8,16,2016,17:10:49
1,1,7/28/2016 18:32:31,"""@LallyRay: Poll: Donald Trump Sees 17-Point P...",7,28,2016,17:10:49
2,2,7/27/2016 17:16:56,Great new poll - thank you!\n#MakeAmericaGreat...,7,27,2016,17:10:49
3,3,7/25/2016 14:05:27,Great POLL numbers are coming out all over. Pe...,7,25,2016,17:10:49
4,4,7/14/2016 14:53:46,Another new poll. Thank you for your support! ...,7,14,2016,17:10:49

In [3]:
df_poll = pd.read_csv("../data/processed/polling.csv")
df_poll.head()

,Unnamed: 0,subgroup,modeldate,samplesize,adjusted_approve,adjusted_disapprove,createddate,M_Month,M_Day,M_Year,C_Month,C_Day,C_Year
0,95,All polls,9/10/2019,11512.0,40.57358,53.00161,2/20/2017,9,10,2019,2,20,2017
1,115,All polls,9/10/2019,10639.0,41.57358,53.00161,2/24/2017,9,10,2019,2,24,2017
2,140,All polls,9/10/2019,12273.0,42.57358,52.00161,11/28/2018,9,10,2019,11,28,2018
3,169,All polls,9/10/2019,12257.0,44.57358,51.00161,3/11/2017,9,10,2019,3,11,2017
4,198,All polls,9/10/2019,12133.0,43.57358,52.00161,3/17/2017,9,10,2019,3,17,2017

In [4]:
df_top = pd.read_csv("../data/processed/topline.csv")
df_top.head()

,Unnamed: 0,subgroup,modeldate,approve_estimate,disapprove_estimate,M_Month,M_Day,M_Year
0,0,Voters,9/10/2019,42.38458,53.32431,9,10,2019
1,1,Adults,9/10/2019,39.89137,54.62294,9,10,2019
2,2,All polls,9/10/2019,40.96740,54.15805,9,10,2019
3,3,Voters,9/9/2019,42.62912,53.25327,9,9,2019
4,4,Adults,9/9/2019,40.60160,54.26073,9,9,2019

In [5]:
df_lawsuits = pd.read_csv("../data/processed/lawsuits.csv")
df_lawsuits.head()

   Unnamed: 0   dateFiled                  issue  Month  Day  Year
0           0  2018-03-06    2016 Trump campaign      3    6  2018
1           1  2018-07-12    2016 Trump campaign      7   12  2018
2           2  2018-08-21    2016 Trump campaign      8   21  2018
3           3  2018-04-30             Defamation      4   30  2018
4           4  2017-11-30  Mueller investigation     11   30  2017

## First checking to see how closely his tweets correlate with the lawsuits brought against him

In [6]:
t_to_suit = {}


for index, t_row in df_tweet.iterrows():
    for index, l_row in df_lawsuits.iterrows():
        if t_row['Year'] == l_row['Year'] and t_row['Month'] == l_row['Month']:
            t_to_suit[t_row['text']] = l_row['issue']
            print(t_row['Month'], t_row['Year'])

# for key,val in t_to_suit.items():
#     print(key, "=>", val)
#     print()
    
df_t_to_suit = pd.DataFrame.from_dict(t_to_suit, orient='index')
df_t_to_suit.head()

8 2016
8 2016
3 2016
3 2016
3 2016
3 2016
3 2016
3 2016
3 2016
3 2016
3 2016

                                                                   0
It's just a 2-point race, Clinton 38%, Trump 36...              DACA
How come the @TODAYshow &amp; @chucktodd show t...  Whitaker dispute
Don't believe the @FoxNews Polls, they are just...  Whitaker dispute
"@cmichaeld2004: Realistic Trump Poll Numbers t...  Whitaker dispute
I guess I have reached yet another "ceiling"  -...  Whitaker dispute

## Does not appear that any of the tweets that he made in months were a lawsuit was filed against him have any correlation to one another

- Looking into polling ratings for the times of these 5 tweets (8/2016 and 3/2016)

In [7]:
for index, row in df_poll.iterrows():
    if row['M_Year'] == 2016 and row['M_Month'] == 3:
        print(row)
    elif row['M_Year'] == 2016 and row['M_Month'] == 8:
        print(row)
    elif row['C_Year'] == 2016 and row['C_Month'] == 3:
        print(row)
    elif row['C_Year'] == 2016 and row['C_Month'] == 8:
        print(row)

## No data corresponding for the times of the tweets out of the Approval Polling dataset, checking the Approval Topline dataset

In [8]:
for index, row in df_top.iterrows():
    if row['M_Year'] == 2016 and row['M_Month'] == 3:
        print(row)
    elif row['M_Year'] == 2016 and row['M_Month'] == 8:
        print(row)

## No data corresponding for the times of the tweets out of the Approval Topline dataset either, widening the search to just the year 2016

In [9]:
for index, row in df_top.iterrows():
    if row['M_Year'] == 2016:
        print(row)
        
for index, row in df_poll.iterrows():
    if row['M_Year'] == 2016 or row['C_Year'] == 2016:
        print(row)

## Conclusions
- With the datasets provided, the only correlations that were able to be made about President Trump's lawsuits, approval ratings, and tweets were between lawsuits and tweets.
- Time was considered as the correlating factor and was examined at the g